{{define "body"}}
<div class=" container-fluid mt-5 pb-3 border rounded">
    <form method="POST" action="/createEchoRequest">
        <h3 class="mt-2">Echo Request</h3>
        <div class="form-group mt-5">
            <label for="formControlSelect1">Content Type</label>
            <select class="form-control" id="resp-type" name="resp-type">
                <option>Plain-Text</option>
                <option>JSON</option>
                <option>XML</option>
            </select>
        </div>
        <div class="form-group">
            <label for="formControlSelect2">Latency Emulation</label>
            <select class="form-control" id="performance" name="performance">
                <option>None</option>
                <option>Low</option>
                <option>Medium</option>
                <option>High</option>
                <option>Insane</option>
            </select>
        </div>
        <div class="form-group">
            <label for="formControlTextarea1">Requested Response</label>
            <textarea class="form-control" id="responseBodyRequested" name="responseBodyRequested" rows="10"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <button onclick="history.back()" type="button" class="btn btn-primary ml-4">Back</button>
    </form>
</div>
{{end}}