{{define "body"}}
<div class="container-fluid mt-5" style="width: 50%">
    <div class="mx-5 border">
        <div class="row">
            <div class="col mx-5">
                <div class="mt-5 mb-5">
                    <div class="card">
                        <h5 class="card-header">Create An Echo Request</h5>
                        <div class="card-body">
                            <p class="card-text">Create an http request to replay</br></br>
                            </p>
                            <a href="/createEchoRequest" class="btn btn-primary">Let's Go</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col mx-5">
                <div class="mt-5 mb-5">
                    <div class="card">
                        <h5 class="card-header">Call An API</h5>
                        <div class="card-body">
                            <p class="card-text">Call an API and display the results
                            </p>
                            <a href="/getAPIResponse" class="btn btn-primary">Let's Go</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{end}}